/*
   MAX HEIGHTS - KEY WORDS
*/

.mxhi-none { max-height: none; }
.mxhi-max {  max-height: max-content; }
.mxhi-min {  max-height: min-content; }
.mxhi-fit {  max-height: fit-content; }
.mxhi-fill { max-height: fill-available; }

@media screen and (min-width: 32em) {
  .mxhi-none-s { max-height: none; }
  .mxhi-max-s {  max-height: max-content; }
  .mxhi-min-s {  max-height: min-content; }
  .mxhi-fit-s {  max-height: fit-content; }
  .mxhi-fill-s { max-height: fill-available; }
}

@media screen and (min-width:48em) {
  .mxhi-none-m { max-height: none; }
  .mxhi-max-m {  max-height: max-content; }
  .mxhi-min-m {  max-height: min-content; }
  .mxhi-fit-m {  max-height: fit-content; }
  .mxhi-fill-m { max-height: fill-available; }
}

@media screen and (min-width: 96em) {
  .mxhi-none-l { max-height: none; }
  .mxhi-max-l {  max-height: max-content; }
  .mxhi-min-l {  max-height: min-content; }
  .mxhi-fit-l {  max-height: fit-content; }
  .mxhi-fill-l { max-height: fill-available; }
}

